<label class="input-text__label">
    <input class="input-text" id="{{id}}" name="{{name}}" type="{{type}}" value="{{value}}" required>
    <span class="input-text__label-text">{{label}}</span>
</label>
